# Workflow to render the FTorch submission to JOSS
name: Render JOSS paper

# Controls when the workflow will run
on:
  # Triggers the workflow on pushes to the "joss" branch
  push:
    branches: [ "joss" ]

  # Triggers the workflow on pushes to open pull requests to main with paper changes
  pull_request:
    branches: [ "main" ]
    paths:
      - '.github/workflows/JOSS_paper_pdf.yml'
      - 'paper/*'

# Cancel jobs running if new commits are pushed
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

# No write permission by default
permissions: {}

jobs:
  # The first job in this workflow builds a draft of the JOSS paper
  build-draft:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Terminate the job if it runs for more than 5 minutes
    timeout-minutes: 5

    permissions:
      id-token: write
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      # Builds/renders the paper using the openjournals action
      - name: Build draft PDF
        uses: openjournals/openjournals-draft-action@85a18372e48f551d8af9ddb7a747de685fbbb01c
        with:
          journal: joss
          paper-path: paper/paper.md

      # Upload the generated PDF
      - name: Upload draft PDF
        uses: actions/upload-artifact@v4
        with:
          name: paper
          path: paper/paper.pdf
